#nav-menu
{
    list-style-type:none;
    display:flex;
    justify-content: space-evenly;
    font-size: 20px;
    
   
}
#nav-menu li:hover
{
    border-bottom: 5px solid magenta;
}
#nav-menu li
{
    height: 70px;
    width:100px;
    text-align: center;
    
}
a
{
  color:white;
}
header{
    background-color:rgba(105,105,105,0.5);
    border-radius: 8px;
}
input
{
    border-radius: 8px;
    font-size: 20px;
    
}
label
{
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
button
{
    border-radius: 8px;
    font-size: 20px;
    background-color: dimgray;
    color: aliceblue;
    margin: 20px;
}
button:hover{
    background-color: magenta;
}
form
{
    background-color: rgba(105,105,105,0.5);;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width:650px;
    border-radius: 8px;
}
h1
{
    text-align: center;
    border:2px solid black;
    border-radius:8px;
    box-shadow: 2px 2px 2px;
}
.contact-form
{
    display: flex;
    justify-content: center;
}
.name
{
    text-transform: uppercase;
    font-size: 32px;
    /* typewriter animation */
    white-space:nowrap;/*the text goes on to the next line without this*/
    overflow: hidden;/*hides the overflowed content - without this everything will appear at once but with this it appears one by one*/
    animation:typewriter/* keyframe identifier-arbitrary name*/ 4s steps(23) infinite alternate,
     blink /* keyframe identifier-arbitrary*/ 800ms steps(23) infinite normal;
    border-right:2px solid black;
}
@keyframes typewriter  {
    from{
        width:0px;
    }
    to{
        width:400px;
    }
}
@keyframes blink {
    from{
        border-color:magenta;
    }
    to{
        border-color:transparent;
    }
}
.wlc
{
    font-size: 24px;
    text-align: center;
}
.intro
{
    font-size:20px;
    text-align: center;
}
#info img
{
    margin-left:250px;
    height:300px;
    width:300px;
    border-radius:50%;
    border:5px solid magenta;
}
#info
{
    background-color:rgba(105,105,105,0.5);
    font-size: 20px;
    color: white;
    border-radius: 8px;
    height: fit-content;
    width:800px;
    padding: 20px;
}
.info-container
{
    display: flex;
    justify-content: center;
    
}
body
{
    background-image: url('Designer.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#msg
{
    height:200px;
}
.projects
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
}
section
{
    text-align: justify;
   
    font-size: 20px;
    background-color: rgba(105,105,105,0.5);
    border-radius: 8px;
}
h2
{
    text-align: center;
    
    text-shadow: 2px 2px 2px goldenrod;
}
.projects img
{
    height:300px;
    width:300px;
    border-radius: 8px;
    margin-left:25px;
    border:5px solid magenta;
}